.title{
	font-size: 30px;
	font-family: 'Anton', sans-serif;
}

.content{
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
}
.blog{
	border: 1px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	background-color: #F0F0F0;
	display: inline-block;
	margin-left: 20%;
}

.container{
	margin-left: 10%;
	margin-right: auto;
}



.autor{
	border: 1px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	background-color: #F0F0F0;
	font-family: 'Anton', sans-serif;
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
	margin-bottom: 2%;
}

.loginform{
	border: 1px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	background-color: #F0F0F0;
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
}

.logintext{
	font-family: 'Anton', sans-serif;
	font-size: 25px;
}

#submitButton{
	margin-top: 30px;
}

#errormessage{
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
	color: red;
}


.leftside{
	width: 200px;
	display: inline-block;
	position: fixed;
	margin-right: 300px;
}

.box{
	border: 1px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	background-color: #F0F0F0;
	display: inline-block;
	margin-bottom: 5px;
}

.title2{
	display: inline-block;
	margin: 0px
}

.box:hover{
	background-color: #CCFFFF;
}